cycler==0.12.1
requests==2.32.3
httpx==0.27.2
nvidia-nccl-cu12==2.21.5
word2number==1.1
beautifulsoup4==4.12.3
charset-normalizer==3.4.1
mypy==1.14.1
six==1.17.0
pydantic==2.10.5
nbformat==5.10.4
ptyprocess==0.7.0
gprof2dot==2024.6.6
scipy==1.15.1
nodeenv==1.9.1
nvidia-cudnn-cu12==9.1.0.70
sqlitedict==2.1.0
jiter==0.8.2
contourpy==1.3.1
frozenlist==1.5.0
mpmath==1.3.0
dataclasses-json==0.6.7
datasets==2.21.0
jsonschema-specifications==2024.10.1
inspect_ai==0.3.58
docker-pycreds==0.4.0
nanogcg==0.2.3
nvidia-nvjitlink-cu12==12.4.127
trl==0.15.1
nest_asyncio==1.6.0
transformer-lens==2.11.0
attrs==24.3.0
frozendict==2.4.6
lm_eval==0.4.7
pure_eval==0.2.3
botocore==1.36.1
boostedblob==0.15.6
nvidia-cusolver-cu12==11.6.1.9
nvidia-cuda-cupti-cu12==12.4.127
langchain-core==0.3.30
protobuf==5.29.3
multiprocess==0.70.16
mbstrdecoder==1.1.4
pkgutil_resolve_name==1.3.10
inquirerpy==0.3.4
linkify-it-py==2.0.3
jedi==0.19.2
PyYAML==6.0.2
virtualenv==20.29.1
pynndescent==0.5.13
nvidia-nvtx-cu12==12.4.127
numpy==1.26.4
jsonschema==4.23.0
eindex-callum==0.1.2
Pygments==2.19.1
stack_data==0.6.3
parso==0.8.4
asttokens==3.0.0
s3fs==2024.12.0
nvidia-cuda-runtime-cu12==12.4.127
multidict==6.1.0
uvloop==0.21.0
execnet==2.1.1
pytz==2024.2
absl-py==2.1.0
python-dotenv==1.0.1
debugpy==1.8.12
yarl==1.18.3
config2py==0.1.36
textual==1.0.0
graze==0.1.27
jupyter_client==8.6.3
aioitertools==0.12.0
pycryptodomex==3.21.0
httpcore==1.0.7
evaluate==0.4.3
pydantic_core==2.27.2
jupyterlab_widgets==3.0.13
pytest-xdist==3.6.1
semver==3.0.3
pfzy==0.3.4
zipp==3.21.0
wrapt==1.17.2
Deprecated==1.2.15
mdurl==0.1.2
zstandard==0.22.0
importlib_metadata==8.6.1
importlib_metadata==8.5.0
Jinja2==3.1.5
dol==0.3.6
pickleshare==0.7.5
nvidia-cusparse-cu12==12.3.1.170
requests-toolbelt==1.0.0
safetensors==0.4.5
sniffio==1.3.1
matplotlib==3.10.0
pluggy==1.5.0
filelock==3.16.1
docx2txt==0.8
more-itertools==10.6.0
wcwidth==0.2.13
statsmodels==0.14.4
pytest==8.3.4
typepy==1.3.4
mplcursors==0.6
pydantic-settings==2.7.1
openai==1.59.8
DataProperty==1.1.0
transformers==4.48.0
pytest-cov==6.0.0
rouge_score==0.1.2
nvidia-cuda-nvrtc-cu12==12.4.127
ipywidgets==8.1.5
pytest-repeat==0.9.3
distlib==0.3.9
ipykernel==6.29.5
jupyter_core==5.7.2
fancy-einsum==0.0.3
smmap==5.0.2
mdit-py-plugins==0.4.2
referencing==0.36.1
anyio==4.8.0
chardet==5.2.0
tcolorpy==0.1.7
typing_extensions==4.12.2
pillow==11.1.0
propcache==0.2.1
opentelemetry-exporter-otlp-proto-common==1.29.0
circuitsvis==0.0.0
sae-vis==0.3.0
cfgv==3.4.0
opentelemetry-api==1.29.0
aiosignal==1.3.2
matplotlib-inline==0.1.7
pytablewriter==1.2.1
umap-learn==0.5.7
pybind11==2.13.6
mmh3==5.0.1
tornado==6.4.2
wandb==0.19.4
widgetsnbextension==4.0.13
tzdata==2024.2
tabledata==1.3.4
greenlet==3.1.1
nvidia-curand-cu12==10.3.5.147
pexpect==4.9.0
setproctitle==1.3.4
py2store==0.1.20
sacrebleu==2.5.1
click==8.1.8
triton==3.1.0
langchain-text-splitters==0.3.5
blobfile==2.1.1
numba==0.60.0
pre_commit==4.0.1
accelerate==1.3.0
beartype==0.14.1
pyarrow==19.0.0
pip==24.3.1
typing-inspect==0.9.0
importlib_resources==6.5.2
portalocker==3.1.1
sentencepiece==0.2.0
pyparsing==3.2.1
einops==0.7.0
better-abc==0.0.3
soupsieve==2.6
aiohappyeyeballs==2.4.4
fsspec==2024.6.1
nvidia-cublas-cu12==12.4.5.8
distro==1.9.0
tqdm-multiprocess==0.0.11
typeguard==4.4.1
torch==2.5.1
sae-lens==5.3.2
opentelemetry-sdk==1.29.0
tabulate==0.9.0
h11==0.14.0
httpx-sse==0.4.0
pandas==2.2.3
scikit-learn==1.6.1
pytest-profiling==1.8.1
regex==2024.11.6
jsonpointer==3.0.0
iniconfig==2.0.0
grpcio==1.67.1
exceptiongroup==1.2.2
langchain-community==0.3.14
networkx==3.4.2
traitlets==5.14.3
decorator==5.1.1
joblib==1.4.2
peft==0.14.0
fonttools==4.55.3
setuptools==75.8.0
markdown-it-py==3.0.0
tqdm==4.67.1
certifi==2024.12.14
typer==0.12.5
automated-interpretability==0.0.6
git-filter-repo==2.47.0
idna==3.10
GitPython==3.1.44
rich==13.9.4
urllib3==2.3.0
shellingham==1.5.4
mypy-extensions==1.0.0
uc-micro-py==1.0.3
identify==2.6.5
tokenizers==0.21.0
ijson==3.3.0
colorama==0.4.6
opentelemetry-exporter-otlp-proto-grpc==1.29.0
plotly-express==0.4.1
comm==0.2.2
tenacity==9.0.0
simple-parsing==0.1.6
llvmlite==0.43.0
packaging==24.2
dill==0.3.8
MarkupSafe==3.0.2
opentelemetry-semantic-conventions==0.50b0
jsonlines==4.0.0
python-dateutil==2.9.0.post0
nltk==3.9.1
annotated-types==0.7.0
opentelemetry-proto==1.29.0
orjson==3.10.14
rpds-py==0.22.3
hdbscan==0.8.40
threadpoolctl==3.5.0
jsonpatch==1.33
kiwisolver==1.4.8
ipython==8.31.0
wheel==0.45.1
fastjsonschema==2.21.1
jaxtyping==0.2.36
aiohttp==3.11.11
tiktoken==0.6.0
xxhash==3.5.0
jmespath==1.0.1
i2==0.1.45
SQLAlchemy==2.0.37
aiobotocore==2.18.0
babe==0.0.7
pathvalidate==3.2.3
sentry-sdk==2.20.0
pyzmq==26.0.0
shortuuid==1.0.13
langchain-openai==0.3.0
nvidia-cufft-cu12==11.2.1.3
marshmallow==3.25.1
patsy==1.0.1
gitdb==4.0.12
psutil==6.1.1
langchain==0.3.14
lxml==4.9.4
docstring_parser==0.16
langsmith==0.2.11
platformdirs==4.3.6
googleapis-common-protos==1.66.0
plotly==5.24.1
sympy==1.13.1
executing==2.1.0
numexpr==2.10.2
coverage==7.6.10
prompt_toolkit==3.0.48
huggingface-hub==0.27.1
seaborn==0.13.2
sae_jailbreak_unlearning==0.1
jaraco.text==3.12.1
inflect==7.3.1
autocommand==2.2.2
jaraco.functools==4.0.1
importlib_metadata==8.0.0
platformdirs==4.2.2
typing_extensions==4.12.2
jaraco.collections==5.1.0
backports.tarfile==1.2.0
zipp==3.19.2
typeguard==4.3.0
wheel==0.43.0
packaging==24.2
tomli==2.0.1
jaraco.context==5.3.0
more-itertools==10.3.0
